div.container{
    display: flex;
    height:fit-content;
}
div.Form-container{
    width: 50%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}
div.line{
    width: 5%;
    border-left: 4px solid rgb(64, 210, 150);
    height: 450px;
}
div.display{
    width: 50%;
    height: 100%;
}
h2{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(64, 210, 150);
    color: white;
    height: 50px;
}
p{
    margin-bottom: 5px;
}
h6{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(64, 210, 150);
    color: white;
    height: 30px;
}
@media only screen and (max-width: 601px) {
    div.container {
      display: unset;
      height:auto;
    }
    div.Form-container{
        align-items: center;
        justify-content: center;
        height: 60%;
        width: 100%;
    }
    div.line{
        display: none;
        width: 0%;
        height: 0%;
    }
    div.display{
        width: 100%;
        padding: 5%;
        height:fit-content;
    }
  }
@keyframes fadeInEffect {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
.Male{
    accent-color: blue;
}
#tableBordered tr:nth-child(odd){
  background-color: lightgoldenrodyellow;
}
#tableBordered tr:nth-child(even){
  background-color: white;
}

#tableBordered{
    border-width: 2px;
    border-color: yellowgreen;
    padding:0px;
}
#vertical {
    border-left: 3px solid #00CCAA;
    height: 400px;
    position: absolute;
    left: 50%;
    text-align: right;
}
#image {
    width: 150px;
}
#outputTable
{
    background-color:yellowgreen;
    color:white;
}